@CHARSET "UTF-8";


.s-container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 768px) {
  .s-container {
    width: 550px;
  }
}
@media (min-width: 992px) {
  .s-container {
    width: 670px;
  }
}
@media (min-width: 1200px) {
  .s-container {
    width: 770px;
  }
}

 
.custom {
	text-align:center;
	margin-right: auto;
 	margin-left: auto;
 	margin-top : 50px;
}



h4 {

  margin-top: 25px;

}

.row {

  margin-bottom: 20px;

}

.row .row {

  margin-top: 10px;

  margin-bottom: 0;

}

table {
	text-align : center;
}

[class*="col-"] {

  padding-top: 15px;

  padding-bottom: 15px;

  background-color: #eee;

  background-color: rgba(86,61,124,.15);

  border: 1px solid #ddd;

  border: 1px solid rgba(86,61,124,.2);

}



hr {

  margin-top: 40px;

  margin-bottom: 40px;

}

.row .inrow {
	margin-top:0px;
}



.row .inrow .col-md-9{
	background-color:white;	
}


.dateTypeBtnWrap {
	margin-top : 20px;
	margin-bottom : 20px;
}

.clickChartData {
	/* background-color : red; */
}


.list_wrap{
	margin-top : 20px;
	padding : 20px;
	border: 2px solid #ddd;
	border-radius : 10px;
	height:auto;
}

.contents{
	border: 2px solid #ddd;
	border-radius : 10px;
	height:auto;
	padding : 30px;
}

.googleChart {
	position: relative;
	top:100px;
}


